name: Evaluate Submission

on:
  pull_request_target:
    paths:
      - 'submissions/**'
      
permissions:
  contents: write

jobs:
  evaluate:
    runs-on: ubuntu-latest

    steps:
      # Checkout trusted code (main branch)
      - uses: actions/checkout@v4
        with:
          ref: main

      # Fetch submission file from the PR
      - name: Fetch submission from PR
        run: |
          git fetch origin pull/${{ github.event.pull_request.number }}/head:pr
          git checkout pr -- submissions/*

      # Set up Python
      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # Install dependencies
      - name: Install dependencies
        run: |
          pip install pandas pyarrow scikit-learn numpy

      # Clone private test labels repo
      - name: Clone private labels repo
        env:
          EVAL_TOKEN: ${{ secrets.EVAL_TOKEN }}   # PAT with read access to private repo
        run: |
          git clone https://${EVAL_TOKEN}@github.com/jawa-23/GRIT-Secrets.git private

      # Run scoring
      - name: Run scoring
        run: |
          python competition/evaluate.py submissions/* private/test_labels.parquet

      # Read score from score.txt
      - name: Read score
        id: get_score
        run: echo "SCORE=$(cat score.txt)" >> $GITHUB_OUTPUT

      # Update leaderboard CSV
      - name: Update leaderboard CSV
        run: python leaderboard/update_leaderboard_csv.py
        env:
          SCORE: ${{ steps.get_score.outputs.SCORE }}


     # Copy CSV to docs
      - name: Copy CSV to docs
        run: cp leaderboard/leaderboard.csv docs/leaderboard.csv

      - name: Commit leaderboard CSV
        env:
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
        run: |
          git config user.name "challenge-bot"
          git config user.email "challenge-bot@users.noreply.github.com"
      
          git add leaderboard/leaderboard.csv docs/leaderboard.csv
      
          if git diff --cached --quiet; then
            echo "No leaderboard changes to commit."
          else
            git commit -m "Update leaderboard"
            git push https://${BOT_TOKEN}@github.com/jawa-23/GRIT-Challenge.git main
          fi

